.elementor-9 .elementor-element.elementor-element-0d79ee1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
}
.elementor-9
  .elementor-element.elementor-element-0d79ee1:not(.elementor-motion-effects-element-type-background),
.elementor-9
  .elementor-element.elementor-element-0d79ee1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-eaa6c32 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-9 .elementor-element.elementor-element-eaa6c32.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-9 .elementor-element.elementor-element-d3a2526 img {
  width: 100%;
}
.elementor-9 .elementor-element.elementor-element-48bd235 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: flex-end;
}
.elementor-9 .elementor-element.elementor-element-48bd235.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-widget-navigation-menu
  .menu-item
  a.hfe-menu-item.elementor-button:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu a.hfe-menu-item,
.elementor-widget-navigation-menu a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
  color: var(--e-global-color-text);
}
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
  color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  a.hfe-menu-item:after {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-nav-menu-layout:not(.hfe-pointer__framed)
  .menu-item.parent
  .sub-menu
  .hfe-has-submenu-container
  a:after {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:before,
.elementor-widget-navigation-menu
  .hfe-pointer__framed
  .menu-item.parent
  a.hfe-menu-item:after {
  border-color: var(--e-global-color-accent);
}
.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-widget-navigation-menu
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9 .elementor-element.elementor-element-77f0d74 ul.sub-menu {
  width: 220px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .hfe-nav-menu__toggle {
  margin-right: auto;
}
.elementor-9 .elementor-element.elementor-element-77f0d74 a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-77f0d74 a.hfe-sub-menu-item {
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-77f0d74 .sub-menu,
.elementor-9 .elementor-element.elementor-element-77f0d74 nav.hfe-dropdown,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .hfe-dropdown-expandible {
  background-color: #000000;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .menu-item
  a.hfe-menu-item:focus {
  color: #9c9c9c;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .elementor-menu-toggle,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-9 .elementor-element.elementor-element-77f0d74 .sub-menu,
.elementor-9 .elementor-element.elementor-element-77f0d74 nav.hfe-dropdown,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #000000;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-9
  .elementor-element.elementor-element-77f0d74
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: double;
  border-bottom-color: #664a4a;
  border-bottom-width: 1px;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  div.hfe-nav-menu-icon {
  color: #ffffff;
}
.elementor-9
  .elementor-element.elementor-element-77f0d74
  div.hfe-nav-menu-icon
  svg {
  fill: #ffffff;
}
.elementor-9 .elementor-element.elementor-element-e0e3392 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-9 .elementor-element.elementor-element-e0e3392.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-9 .elementor-element.elementor-element-99d2e19 .elementor-button {
  background-color: #000000;
  font-family: "Roboto", Sans-serif;
  font-weight: 600;
  fill: #ffffff;
  color: #ffffff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 32px 10px 32px;
}
@media (max-width: 1024px) {
  body:not(.rtl)
    .elementor-9
    .elementor-element.elementor-element-77f0d74.hfe-nav-menu__breakpoint-tablet
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-9 .elementor-element.elementor-element-0d79ee1 {
    --padding-top: 0px;
    --padding-bottom: 42px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-9 .elementor-element.elementor-element-eaa6c32 {
    --width: 100%;
  }
  .elementor-9 .elementor-element.elementor-element-d3a2526 {
    text-align: start;
  }
  .elementor-9 .elementor-element.elementor-element-d3a2526 img {
    width: 14%;
  }
  .elementor-9 .elementor-element.elementor-element-48bd235 {
    --width: 45%;
    --align-items: flex-start;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .menu-item
    a.hfe-menu-item {
    padding-left: 45px;
    padding-right: 45px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .menu-item
    a.hfe-sub-menu-item {
    padding-left: calc(45px + 20px);
    padding-right: 45px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(45px + 40px);
    padding-right: 45px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(45px + 60px);
    padding-right: 45px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-vertical
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(45px + 80px);
    padding-right: 45px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .menu-item
    a.hfe-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .menu-item
    a.hfe-sub-menu-item {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  body:not(.rtl)
    .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body.rtl
    .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-left: 0px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav:not(.hfe-nav-menu__layout-horizontal)
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  body:not(.rtl)
    .elementor-9
    .elementor-element.elementor-element-77f0d74.hfe-nav-menu__breakpoint-mobile
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-right: 0px;
  }
  body
    .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-nav-menu__layout-vertical
    .hfe-nav-menu
    > li.menu-item:not(:last-child) {
    margin-bottom: 0px;
  }
  body:not(.rtl)
    .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-nav-menu__layout-horizontal
    .hfe-nav-menu
    > li.menu-item {
    margin-bottom: 0px;
  }
  .elementor-9 .elementor-element.elementor-element-77f0d74 ul.sub-menu {
    width: 500px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .sub-menu
    li
    a.hfe-sub-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-dropdown
    li
    a.hfe-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-dropdown-expandible
    li
    a.hfe-menu-item {
    padding-left: 100px;
    padding-right: 100px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-dropdown-expandible
    a.hfe-sub-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-dropdown
    li
    a.hfe-sub-menu-item {
    padding-left: calc(100px + 20px);
    padding-right: 100px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(100px + 40px);
    padding-right: 100px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(100px + 60px);
    padding-right: 100px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(100px + 80px);
    padding-right: 100px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-nav-menu__layout-horizontal:not(.hfe-dropdown)
    ul.sub-menu,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-nav-menu__layout-expandible.menu-is-active,
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    nav.hfe-nav-menu__layout-vertical:not(.hfe-dropdown)
    ul.sub-menu {
    margin-top: 14px;
  }
  .elementor-9
    .elementor-element.elementor-element-77f0d74
    .hfe-dropdown.menu-is-active {
    margin-top: 14px;
  }
  .elementor-9 .elementor-element.elementor-element-e0e3392 {
    --width: 45%;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
}
@media (min-width: 768px) {
  .elementor-9 .elementor-element.elementor-element-eaa6c32 {
    --width: 10.188%;
  }
  .elementor-9 .elementor-element.elementor-element-48bd235 {
    --width: 71%;
  }
  .elementor-9 .elementor-element.elementor-element-e0e3392 {
    --width: 19.522%;
  }
}
