.elementor-11 .elementor-element.elementor-element-45edcb0 {
  --display: flex;
  --min-height: 149px;
  --flex-direction: column-reverse;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-left: 40px;
  --padding-right: 40px;
}
.elementor-11
  .elementor-element.elementor-element-45edcb0:not(.elementor-motion-effects-element-type-background),
.elementor-11
  .elementor-element.elementor-element-45edcb0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #000000;
}
.elementor-11
  .elementor-element.elementor-element-45edcb0
  > .elementor-shape-top
  svg,
.elementor-11
  .elementor-element.elementor-element-45edcb0
  > .e-con-inner
  > .elementor-shape-top
  svg {
  height: 70px;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-11
  .elementor-element.elementor-element-baa52fb
  > .elementor-widget-container {
  margin: 25px 9px 9px 9px;
}
.elementor-11 .elementor-element.elementor-element-baa52fb {
  text-align: center;
}
.elementor-11
  .elementor-element.elementor-element-baa52fb
  .elementor-heading-title {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 768px) {
  .elementor-11 .elementor-element.elementor-element-45edcb0 {
    --width: 100%;
  }
}
